*{margin : 0;
    
    padding: 0;
}



.Navbar{
    width: 100%;
    height: 80px;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 2px 4px rgb(179, 179, 179);
    list-style-type: none;
    }

ul{        
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;}
    
li {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    list-style: none;
}
    
.logo-navbar{
        width: 70px;
        height: auto;
}
    
li a {
    display: block;
    align-items: center;
    color: rgb(27, 197, 103);
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
}


.spotifytitre{
    color: var(--text-bright-accent,#117a37);
    --background-base: #121212;
    --background-highlight: #181818;
    --background-press: #090909;
    --background-elevated-base: #262626;
    --background-elevated-highlight: #2c2c2c;
    --background-elevated-press: #202020;
    --background-tinted-base: hsla(0,0%,100%,0.08);
    --background-tinted-highlight: hsla(0,0%,100%,0.11);
    --background-tinted-press: hsla(0,0%,100%,0.06);
    --background-unsafe-for-small-text-base: #121212;
    --background-unsafe-for-small-text-highlight: #181818;
    --background-unsafe-for-small-text-press: #090909;
    --text-base: #fff;
    --text-subdued: #aaa;
    --text-bright-accent: #1ed760;
    --text-negative: #eb6774;
    --text-warning: #f59b23;
    --text-positive: #1ed760;
    --text-announcement: #5b95db;
    --essential-base: #fff;
    --essential-subdued: #757575;
    --essential-bright-accent: #1ed760;
    --essential-negative: #e22134;
    --essential-warning: #f59b23;
    --essential-positive: #1ed760;
    --essential-announcement: #2e77d0;
    --decorative-base: #fff;
    --decorative-subdued: #292929;

}

.contenaire22{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    background-color: rgba(179, 179, 179, 0.356);
    border-radius: 3%;
}

.textedanslecontenaire22{
        flex-direction: column;
        text-align: center;
        font-size: 2.5rem;
        font-family: 'Roboto', sans-serif;
       
}

.spotifytitre{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}


body{
    background-color: rgb(41, 65, 171);
  
}

.Navbardown{

    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    margin-top: 10%;
    height: 100%;
    
    }